body {
  font: 18px Helvetica, Arial, sans-serif;
}
a {
  color: #2693da;
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: 1px solid #eaeaea;
  margin: 1em 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.66667em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.16667em;
}
h5 {
  font-size: 0.83333em;
}
h6 {
  font-size: 0.69167em;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
footer {
  text-align: center;
}
footer h5 {
  font-style: italic;
}
