<ul>
  <li>SAN -> NYC</li>
  <li><a href='http://techatnyu.org' target='_blank'>Tech@NYU</a></li>
  <li><a href='http://hackny.org' target='_blank'>hackNY</a> 2011</li>
  <li>Senior developer at <a href='http://chatid.com' target='_blank'>ChatID</a></li>
  <li>Fan of elegance and efficiency</li>
</ul>

<hr />

<% page.posts.each(function(post) { %>
  <%- partial('_partial/post/title', {post: post, index: true}) %>
  <%- partial('_partial/post/date', {post: post, date_format: 'MM-DD-YYYY'}) %>
<% }) %>
